@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
body {
    padding: 0;
    margin: 0;
    color: #777;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none
}

a,
h2 {
    color: #aa1423;
}

header,
article,
footer {
    width: 100%;
    height: auto;
}

header {
    height: 42px;
    background-color: #fff;
    padding: 4px 0px;
}

header #logo-chaordic {
    width: 100%;
    height: 31px;
    background: url(../Assets/logo-chaordic.png) 50% 6px no-repeat;
}

article .head-article {
    color: #fff;
    width: 100%;
    height: auto;
    background: url(../Assets/background-home.jpg) 0 0 / 100% no-repeat;
}

article h1 {
    text-align: center;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 3.8vw;
    margin: 0;
}

article .minify-link {
    text-align: center;
    padding: 13% 20%;
}

article .minify-link p {
    font-size: 2.4vw;
    text-align: center;
}

article .minify-link form {
    padding-top: 9%;
}

article .minify-link form input[type='text'] {
    width: 56%;
    font-size: 1.5vw;
    color: #FF6E18;
    border: none;
    background: no-repeat;
    border-bottom: 1px solid #FF6E18;
    padding: 1vw;
}

article .minify-link form input[type='button'] {
    padding: 1vw;
    font-size: 1.5vw;
    position: relative;
    left: 2%;
    background-color: #FF6E18;
    border: none;
    color: #fff;
    width: 19%;
    font-weight: 500;
}

article h2 {
    text-align: center;
    font-size: 3.5vw;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    font-weight: 100;
    padding: 40px 0px 10px 0;
    ;
}

article .top-five {
    padding: 0px 0px;
}

article ul {
    width: 45%;
    position: relative;
    left: 25%;
    padding: 0;
}

article ul li {
    border-bottom: 1px solid #eee;
    padding: 10px;
    font-size: 1.5vw;
}

article ul li span {
    float: right;
}


/**
*** Seta para BAIXO
**/

.down-arrow:before {
    content: "";
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-top: 5vw solid #fff;
    float: left;
    position: relative;
    display: inline-block;
    left: 45%;
}

article .hits {
    background-color: rgb(238, 238, 238);
    padding: 7vw 0px;
}

article .hits h2 {
    padding: 10px 0;
}

article .hits span {
    position: relative;
    display: block;
    text-align: center;
}

article .hits span.number {
    width: 20%;
    font-size: 2vw;
    padding: 9px;
    left: 40%;
    border: 1px solid #b1a9a9;
    font-family: 'Roboto Slab', serif;
    color: #aa1423;
    display: block;
    background-color: #fff;
}

article .text {
    font-size: 2vw;
    padding-top: 5px;
}

footer {
    height: 40px;
    padding: 6px 0px;
}

footer a {
    text-decoration: none;
}

footer .link-footer {
    position: relative;
    left: 17%;
}

footer ul {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    right: 18.9%;
}

footer ul li {
    float: left;
}

footer ul li a {
    position: relative;
    padding: 0 15px;
}