body {
    padding: 0;
    margin: 0;
    color: #777;
}

ul {
    list-style: none
}

a,
h1 {
    color: #aa1423;
}

header,
article,
footer {
    border: 1px solid red;
    width: 50%;
    height: auto;
    position: relative;
    left: 25%;
    right: -25%;
}

header {
    border: 1px solid cyan;
    height: 31px;
    background-color: #fff;
    padding: 5px 0px;
}

header #logo-chaordic {
    width: 100%;
    height: 31px;
    background: url(../Assets/logo-chaordic.png) 50% 6px no-repeat;
}

article .image-background-home {
    width: 100%;
    height: 493px;
    background: url(../Assets/background-home.jpg) 0 0 / 100% no-repeat;
}

article .image-background-home img {
    width: auto;
    height: auto;
    position: relative;
    padding: 10.4% 20.1%
}

article h1 {
    text-align: center;
}

article ul {
    width: 50%;
    position: relative;
    left: 15%;
}

article ul li {
    border-bottom: 1px solid #eee;
    padding-top: 10px;
}

article ul li span {
    float: right;
}

footer {
    height: 30px;
    padding: 10px 0px 0px 0;
}

footer a {
    text-decoration: none;
}

footer .link-footer {
    position: relative;
    left: 17%;
}

footer ul {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    right: 17%;
}

footer ul li {
    float: left;
}

footer ul li a {
    position: relative;
    padding: 0 0 0 40px
}